Repository wang-lawrence/javascript-prep-0423-code-solutions: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix, prettier --write, eslint --fix

Completed prep-example exercise
  prep-example/.gitkeep
  prep-example/index.html
Due: markuplint

Completed prep-html-skeleton exercise.
  prep-html-skeleton/.gitkeep
  prep-html-skeleton/index.html
  prep-html-skeleton/prep-html-skeleton-exercise-quiz-notes.md
Due: markuplint, prettier --write

Completed prep-html-script-tag exercise
  prep-html-script-tag/.eslintrc
  prep-html-script-tag/.gitkeep
  prep-html-script-tag/index.html
  prep-html-script-tag/main.js
  prep-html-script-tag/prep-html-script-tag-quiz-notes.md
Due: markuplint, prettier --write, eslint --fix

Completed prep-javascript-variables
  prep-javascript-variables/.eslintrc
  prep-javascript-variables/.gitkeep
  prep-javascript-variables/index.html
  prep-javascript-variables/prep-javascript-variables-quiz-questions.md
Due: markuplint, prettier --write

Completed Javascript operators and expressions
  prep-javascript-operators-and-expressions/.eslintrc
  prep-javascript-operators-and-expressions/.gitkeep
  prep-javascript-operators-and-expressions/index.html
  prep-javascript-operators-and-expressions/main.js
  prep-javascript-operators-and-expressions/prep-javascript-operators-and-expressions-quiz-notes.md
Due: markuplint, prettier --write, eslint --fix

Completed prep-javascript-objects exercise
  prep-javascript-objects/.eslintrc
  prep-javascript-objects/.gitkeep
  prep-javascript-objects/index.html
  prep-javascript-objects/main.js
  prep-javascript-objects/prep-javascript-objects-quiz-notes.md
Due: markuplint, prettier --write, eslint --fix

Completed prep-javascript-arrays exercise
  prep-javascript-arrays/.eslintrc
  prep-javascript-arrays/.gitkeep
  prep-javascript-arrays/index.html
  prep-javascript-arrays/main.js
  prep-javascript-arrays/prep-javascript-arrays-quiz-notes.md
Due: markuplint, prettier --write, eslint --fix

Completed prep-javascript-functions exercise
  prep-javascript-functions/.eslintrc
  prep-javascript-functions/.gitkeep
  prep-javascript-functions/index.html
  prep-javascript-functions/main.js
  prep-javascript-functions/prep-javascript-functions-quiz-notes.md
Due: markuplint, prettier --write, eslint --fix

Completed prep-javascript-conditionals
  prep-javascript-conditionals/.eslintrc
  prep-javascript-conditionals/.gitkeep
  prep-javascript-conditionals/index.html
  prep-javascript-conditionals/main.js
  prep-javascript-conditionals/prep-javascript-conditionals-quiz-notes.md
Due: markuplint, prettier --write, eslint --fix

Completed prep-javascript-loops exercise
  prep-javascript-loops/.eslintrc
  prep-javascript-loops/.gitkeep
  prep-javascript-loops/index.html
  prep-javascript-loops/main.js
  prep-javascript-loops/prep-javascript-loops-quiz-notes.md
Due: markuplint, prettier --write, eslint --fix

Completed prep-array-challenge
  prep-array-challenge/.eslintrc
  prep-array-challenge/.gitkeep
  prep-array-challenge/index.html
  prep-array-challenge/src/ban-methods.js
  prep-array-challenge/src/compact.js
  prep-array-challenge/src/compact.test.js
  prep-array-challenge/src/head.js
  prep-array-challenge/src/head.test.js
  prep-array-challenge/src/initial.js
  prep-array-challenge/src/initial.test.js
  prep-array-challenge/src/last.js
  prep-array-challenge/src/last.test.js
  prep-array-challenge/src/reverse.js
  prep-array-challenge/src/reverse.test.js
  prep-array-challenge/src/tail.js
  prep-array-challenge/src/tail.test.js
Due: markuplint, prettier --write, eslint --fix

Complete prep-string-challenge
  prep-string-challenge/.eslintrc
  prep-string-challenge/.gitkeep
  prep-string-challenge/index.html
  prep-string-challenge/src/ban-methods.js
  prep-string-challenge/src/capitalize.js
  prep-string-challenge/src/capitalize.test.js
  prep-string-challenge/src/get-first-char.js
  prep-string-challenge/src/get-first-char.test.js
  prep-string-challenge/src/get-last-char.js
  prep-string-challenge/src/get-last-char.test.js
  prep-string-challenge/src/get-words.js
  prep-string-challenge/src/get-words.test.js
  prep-string-challenge/src/is-lower-cased.js
  prep-string-challenge/src/is-lower-cased.test.js
  prep-string-challenge/src/is-upper-cased.js
  prep-string-challenge/src/is-upper-cased.test.js
  prep-string-challenge/src/is-vowel.js
  prep-string-challenge/src/is-vowel.test.js
  prep-string-challenge/src/reverse-word.js
  prep-string-challenge/src/reverse-word.test.js
Due: markuplint, prettier --write, eslint --fix

Completed prep-object-challenge
  prep-object-challenge/.eslintrc
  prep-object-challenge/.gitkeep
  prep-object-challenge/index.html
  prep-object-challenge/src/ban-methods.js
  prep-object-challenge/src/get-keys.js
  prep-object-challenge/src/get-keys.test.js
  prep-object-challenge/src/get-value.js
  prep-object-challenge/src/get-value.test.js
  prep-object-challenge/src/get-values.js
  prep-object-challenge/src/get-values.test.js
  prep-object-challenge/src/set-value.js
  prep-object-challenge/src/set-value.test.js
  prep-object-challenge/src/to-object.js
  prep-object-challenge/src/to-object.test.js
Due: markuplint, prettier --write, eslint --fix

Path conditions:
  markuplint: any of: *.html
  stylelint --fix: any of: *.css
  prettier --write: ((any of: *.css) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
